/* Media Query: Apply styles only on screens 768px and wider */
@media screen and (min-width: 768px) {
  
  /* NAVIGATION */
  #menuBtn {
    display: none; /* Hide hamburger menu */
  }

  nav {
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    gap: 1.5rem;
  }

  nav button {
    background-color: #2c3e50;
  }

  /* TEMPLE GRID */
  .temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  figure {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }


  main h2 {
    font-size: 1.8rem;
  }
}