/* Media Query: Apply styles only on screens 768px and wider */
@media screen and (min-width: 768px) {
  
  /* NAVIGATION */
  #menuBtn {
    display: none; /* Hide menu button on larger screens */
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    position: static;
    gap: 2rem;
  }

  nav.hide {
      display: flex;
    }


  nav a {
    background-color: #18334e;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    background-color: #1abc9c;
    color: #fff;
  }

  nav button {
    background-color: #19324b;
  }

  /* TEMPLE GRID */
  .temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  figure {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  main h2 {
    font-size: 1.8rem;
  }
}