:root {
  --primary-color: #000000;      
  --secondary-color: #c8102e;
  --accent-color: #007a3d;
  --text-color: #222;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 10px solid var(--accent-color);
}
.hero {
    position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

.info {
  margin-top: 5rem;
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 0.5rem;
}

.weather {
  margin-top: 25rem;
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 0.5rem;
}

.weather-grid {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.weather-icon {
  width: 60px;
  height: auto;
}

.weather ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather li {
  margin-bottom: 0rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  border-top: 10px solid var(--accent-color);
}

