@media (min-width: 700px) {
  
  /* Fix hero height */
  .hero img {
    height: 500px;
    object-fit: cover;
  }

  /* Overlay cards */
  .info,
  .weather {
    position: absolute;
    top: 3rem;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

   /* Left overlay */
  .info {
    left: 2rem;
  }

  /* Right overlay */
  .weather {
    right: 2rem;
  }

    /* Weather layout adjustments */
  .weather-icon {
    display: none;
  }

  /* Decorative weather emoji */
  .weather h2::after {
    content: " ⛅";
  }
  section {
    margin: 2px;
  }
}
