:root {
  --primary-color: #000000;
  --secondary-color: #c8102e;
  --accent-color: #007a3d;
  --text-color: #222;
  --background-color: #ffffff;
  --card-bg: #ffffff;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header */
header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 10px solid var(--accent-color);
}

/* Main wrapper */
main {
  max-width: 1100px;
  margin: 0 auto;
}

/* HERO */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* Sections */
section {
  margin: 1.5rem;
}

/* INFO + WEATHER cards */
.info,
.weather {
  background-color: var(--card-bg);
  padding: 1.25rem;
  border-radius: 2rem;
  margin-top: 5rem;
}

/* Weather layout */
.weather-grid {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.weather-icon {
  width: 60px;
  height: auto;
}

.weather ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather li {
  margin-bottom: 0.25rem;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  border-top: 10px solid var(--accent-color);
}

